version: "3.4"
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: build_with_migrations
    restart: on-failure
    ports:
      - '8000:8000'
    env_file:
      - .env
    depends_on:
      - db
  db:
    image: postgres:13.4
    ports:
      - '${POSTGRES_PORT}:5432'
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    env_file:
      - .env
    volumes:
      - ./data/db:/var/lib/postgresql/data